<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a class="navbar-brand">Parcel Management</a></div>
    
    <ul class="navbar-nav">
      <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/tractors" class="nav-link">View Tractors</a></li>
      <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/parcels" class="nav-link">View Parcels</a></li>
      <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/developed-parcels" class="nav-link">View Developed Parcels</a></li>
      <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/add-tractor" class="nav-link">Add New Tractor</a></li>
      <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/add-parcel" class="nav-link">Add New Parcel</a></li>
      <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/add-developed-parcel" class="nav-link">Add New Developed Parcel</a></li>
      <li><a  *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
      <li><a  *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    </ul>
    
    </nav>
    
    </header>