<div class="col-md-6">
  <h2 class="text-center">Add Parcel</h2>
  <form name="parcelForm">
    <div class="form-group">
      <mat-form-field>
        <input matInput type="text" required [(ngModel)]="parcel.name" placeholder="Name" name="name" class="form-control" id="name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" required [(ngModel)]="parcel.crop" placeholder="Crop" name="crop" class="form-control" id="crop">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="number" required pattern="[0-9]*" [(ngModel)]="parcel.area" placeholder="Area" name="area" class="form-control" id="area">
      </mat-form-field>
    </div>
    <button mat-button class="btn btn-success" [disabled]="parcel.name === '' || parcel.crop === '' || !parcel.area" (click)="createParcel()">Create</button>
  </form>
</div>