<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value); getTotalCost();" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="tractorName">
    <th mat-header-cell *matHeaderCellDef> Tractor </th>
    <td mat-cell *matCellDef="let element"> {{element.tractorName}} </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>

  </ng-container>
  <ng-container matColumnDef="parcelName">
    <th mat-header-cell *matHeaderCellDef> Parcel </th>
    <td mat-cell *matCellDef="let element"> {{element.parcelName}} </td>
    <td mat-footer-cell *matFooterCellDef></td>

  </ng-container>
  <ng-container matColumnDef="developedArea">
    <th mat-header-cell *matHeaderCellDef> Developed area </th>
    <td mat-cell *matCellDef="let element"> {{element.developedArea}} </td>
    <td mat-footer-cell *matFooterCellDef> {{this.total}} </td>

  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    <td mat-footer-cell *matFooterCellDef></td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

</table>