<div class="container">
    <form>
        <div>
            User Name : <input type="text" name="username" [(ngModel)]="username">
            Password : <input type="password" name="password" [(ngModel)]="password">
        </div>
        <button type="submit" (click)=checkLogin() class="btn btn-success">
            Login
        </button>
    </form>
</div>