<form>
    <mat-form-field>
        <mat-label>Parcel</mat-label>
        <mat-select [(ngModel)]="developedParcelInput.parcelId" required name="developedParcelInput.parcelId" value="parcel">
            <mat-option  *ngFor="let parcel of parcels" value="{{parcel.id}}">{{parcel.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Tractor</mat-label>
        <mat-select [(ngModel)]="developedParcelInput.tractorId" required name="developedParcelInput.tractorId" value="tractor">
            <mat-option  *ngFor="let tractor of tractors" value="{{tractor.id}}">{{tractor.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="number" pattern="[0-9]*" required [(ngModel)]="developedParcelInput.developedArea" name="developedParcelInput.developedArea" placeholder="Developed area" value="">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [(ngModel)]="developedParcelInput.date" required name="developedParcelInput.date" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button class="btn btn-success" [disabled]="!developedParcelInput.parcelId || !developedParcelInput.tractorId || !developedParcelInput.developedArea || !developedParcelInput.date" (click)="createDevelopedParcel()">Create</button>
</form>