<div class="col-md-6">
  <h2 class="text-center">Add Tractor</h2>
  <form>
    <mat-form-field>
      <div class="form-group">
        <input matInput required type="name" [(ngModel)]="tractor.name" placeholder="Name" name="name"
          class="form-control" id="name">
      </div>
    </mat-form-field>
    <br>
    <button class="btn btn-success" [disabled]="tractor.name === ''" (click)="createTractor()">Create</button>
  </form>
</div>